*{
    padding: 0;
    margin: 0;
}
header{
    background-image: url("Assets/Hero-bg.png");
    
}
/*nav style*/
h2{
    color:#4E47FF;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
nav button{
    text-decoration: none;
    padding: px 20px;

}
